{% extends "base.html" %}

{% block title %}Home - Bitvocation CV Doctor{% endblock %}

{% block content %}
<div class="full-width-image d-flex align-items-center justify-content-center">
    <div class="text-center intro-text">
        <h1>Welcome to the Bitvocation CV Doctor</h1>
        <p>
            Transform your CV to match specific job postings with ease. The CV Doctor helps you
            adapt, optimize, and improve your resume for any role in the Bitcoin ecosystem.
            Showcase your skills and land your dream Bitcoin job today!
        </p>
        <p>
            <strong>About Bitvocation:</strong> We empower Bitcoiners to break free from their fiat jobs by providing 
            resources and tools to launch careers in Bitcoin. Join our community, access job postings, and gain insights 
            from industry professionals.
        </p>
    </div>
</div>
{% endblock %}
