                                    <em>Overall Suitability Score:</em> {{ candidate.overall_score }}<br>
                                    <em>% Scores > Threshold:</em> {{ (candidate.scores_ge_threshold * 100)|round(2) }}%<br>
                                    <em>Skills Appraisal:</em><br>
                                    
                                    {% for skill, score in candidate.items() if 'JUSTIFICATION' not in skill %}
                                        <strong>{{ skill }}:</strong> {{ score }}<br>
                                        <em>Justification:</em> {{ candidate[skill + "_JUSTIFICATION"] }}<br><br>
                                    {% endfor %}



<!-- Unselected Candidates Section -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingUnselected">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnselected" aria-expanded="false" aria-controls="collapseUnselected">
                        Unselected Candidates
                    </button>
                </h2>
                <div id="collapseUnselected" class="accordion-collapse collapse" aria-labelledby="headingUnselected" data-bs-parent="#outputAccordion">
                    <div class="accordion-body">
                        <!-- List of unselected candidates -->
                        <ul class="list-group">
                            {% for candidate in unselected_candidates %}
                                <li class="list-group-item">
                                    <strong>{{ candidate.name }}</strong><br>
                                    <em>Email:</em> {{ candidate.email }}<br>
                                    <em>Overall Suitability Score:</em> {{ candidate.overall_score }}<br>
                                    <em>% Scores > Threshold:</em> {{ (candidate.scores_ge_threshold * 100)|round(2) }}%<br>
                                    <em>Skills Appraisal:</em><br>
                                    
                                    {% for skill, score in candidate.items() if 'JUSTIFICATION' not in skill %}
                                        <strong>{{ skill }}:</strong> {{ score }}<br>
                                        <em>Justification:</em> {{ candidate[skill + "_JUSTIFICATION"] }}<br><br>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>